.vscode
.venv
*.pyc
__pycache__
example.db
.coverage

/*.sh
!test_server.sh
!regen.sh

/uml
test_db


fleet_protocol_api.egg-info
/server.egg_info
/server/fleetv2_http_api/test
/server/build
/server/.openapi-generator
/server/fleetv2_http_api.egg-info