connexion[swagger-ui] == 2.15.1
swagger-ui-bundle == 1.1.0
python_dateutil == 2.9.0
setuptools == 80.10.2
Flask == 2.3.3
httpx == 0.28.1
APScheduler == 3.11.2
aenum == 3.1.16
SQLAlchemy == 2.0.46
psycopg == 3.3.2
Flask_Testing == 0.8.1
python-keycloak == 7.0.3
pyjwt == 2.11.0
cryptography == 46.0.4
coverage == 7.13.3
pydantic == 2.12.5
tenacity == 9.1.2
